In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('adult.csv')

df

       age     workclass  fnlwgt  ... hours-per-week  native-country income
0       25       Private  226802  ...             40   United-States  <=50K
1       38       Private   89814  ...             50   United-States  <=50K
2       28     Local-gov  336951  ...             40   United-States   >50K
3       44       Private  160323  ...             40   United-States   >50K
4       18             ?  103497  ...             30   United-States  <=50K
...    ...           ...     ...  ...            ...             ...    ...
48837   27       Private  257302  ...             38   United-States  <=50K
48838   40       Private  154374  ...             40   United-States   >50K
48839   58       Private  151910  ...             40   United-States  <=50K
48840   22       Private  201490  ...             20   United-States  <=50K
48841   52  Self-emp-inc  287927  ...             40   United-States   >50K

[48842 rows x 15 columns]

In [ ]:
print(df.shape)

print(df.info())

(48842, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB
None

In [ ]:
missing = ['n/a','-','?']

df = pd.read_csv('adult.csv',na_values=missing)

df.head()

   age  workclass  fnlwgt  ... hours-per-week  native-country income
0   25    Private  226802  ...             40   United-States  <=50K
1   38    Private   89814  ...             50   United-States  <=50K
2   28  Local-gov  336951  ...             40   United-States   >50K
3   44    Private  160323  ...             40   United-States   >50K
4   18        NaN  103497  ...             30   United-States  <=50K

[5 rows x 15 columns]

<b>Identify missing values</b>

In [ ]:
df.isnull()

         age  workclass  fnlwgt  ...  hours-per-week  native-country  income
0      False      False   False  ...           False           False   False
1      False      False   False  ...           False           False   False
2      False      False   False  ...           False           False   False
3      False      False   False  ...           False           False   False
4      False       True   False  ...           False           False   False
...      ...        ...     ...  ...             ...             ...     ...
48837  False      False   False  ...           False           False   False
48838  False      False   False  ...           False           False   False
48839  False      False   False  ...           False           False   False
48840  False      False   False  ...           False           False   False
48841  False      False   False  ...           False           False   False

[48842 rows x 15 columns]

In [ ]:
df.isnull().sum()

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

In [ ]:
df.isnull().any(axis=0)

age                False
workclass           True
fnlwgt             False
education          False
educational-num    False
marital-status     False
occupation          True
relationship       False
race               False
gender             False
capital-gain       False
capital-loss       False
hours-per-week     False
native-country      True
income             False
dtype: bool

In [ ]:
df.isnull().all(axis=0)

age                False
workclass          False
fnlwgt             False
education          False
educational-num    False
marital-status     False
occupation         False
relationship       False
race               False
gender             False
capital-gain       False
capital-loss       False
hours-per-week     False
native-country     False
income             False
dtype: bool

In [ ]:
df.isnull().all(axis=0).sum()

0

In [ ]:
df.isnull().any(axis=1)

0        False
1        False
2        False
3        False
4         True
         ...
48837    False
48838    False
48839    False
48840    False
48841    False
Length: 48842, dtype: bool

In [ ]:
df.isnull().all(axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
48837    False
48838    False
48839    False
48840    False
48841    False
Length: 48842, dtype: bool

In [ ]:
df.isnull().all(axis=1).sum()

0